.cover__link {
    margin: 0 auto;
    text-decoration: none;
    color: #ffffff;
    position: relative;
    max-width: 1184px;
    width: 100%;
    min-height: 740px;
    background: url(../../../images/cover.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    z-index: 0;

  }
  
  .cover__link::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #2a2c2f;
    opacity: 0.3;
    z-index: -1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .cover__link:hover::after {
    opacity: 0.8;
  }

  @media (min-width: 1024px) and (max-width: 1279px) {
    .cover__link {
      max-width: 1024px;
    }
  }
  
  @media (max-width: 1023px) {
    .cover__link {
      max-width: 100%;
      min-height: calc(100vw / 1.6);
    }
  }