.header__logo {
    width: 176px;
    height: 52px;
    background: url(../../../images/logo.svg);
    background-size: cover;
  }

  @media (max-width: 767px) {
    .header__logo {
      width: 142px;
      height: 42px;
    }
  }