.places__list-item {
    margin: 0;
    display: grid;
    gap: 48px 40px;
    grid-template-columns: 460px 484px;
    grid-template-rows: repeat(2, max-content);
    grid-template-areas:
      "heading link-block"
      "image description";
  }

  @media (min-width: 1024px) and (max-width: 1279px) {
    .places__list-item {
      gap: 48px 32px;
      grid-template-columns: 440px 456px;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .places__list-item {
      gap: 48px 28px;
      grid-template-columns: 340px 352px;
    }
  }

  @media (max-width: 767px) {
    .places__list-item {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }