.intro {
    box-sizing: border-box;
    padding-top: 92px;
    color: #ffffff;
    background: #2a2c2f;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .intro {
      padding-top: 88px;
    }
  }

  @media (max-width: 767px) {
    .intro {
      padding-top: 64px;
    }
  }