.cover__title {
    max-width: 560px;
    width: 100%;
    margin: 0 auto 32px;
    font-size: 72px;
    line-height: 1.1;
    text-align: center;
    font-family: "Inter", "Arial", "Helvetica", sans-serif;
    font-weight: 900;
  }

  @media (max-width: 767px) {
    .cover__title {
      width: 90%;
    }
  }

  @media (min-width: 425px) and (max-width: 767px) {
    .cover__title {
      margin-bottom: 20px;
      font-size: 48px;
    }
  }

  @media (max-width: 424px) {
    .cover__title {
      margin-bottom: 16px;
      font-size: 32px;
    }
  }