.video__item-play-icon {
  position: absolute;
  width: 41px;
  height: 41px;
  top: 30px;
  left: 30px;
  z-index: 2;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .video__item-play-icon {
    top: 24px;
    left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .video__item-play-icon {
    top: 16px;
    left: 16px;
  }
}

